<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject_BloggingNewsSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body id="main-body-header">
    <header>
        <nav style="background: #121212 !important;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container" style="background: #121212;">
                <a class="navbar-brand light-text" style="color: #dedede; font-size: 25px; font-weight: bold; font-style: italic;" asp-area="" asp-page="/Index">Owings News Network</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-size: 20px" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-size: 20px" asp-area="" asp-page="/Create">Add New Entry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-size: 20px" asp-area="" asp-page="/RequestAnEdit">Edit An Entry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="font-size: 20px" asp-area="" asp-page="/AllListings">View All</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="font-size: 25px; color: white; text-align: center;">
            Owings News Network &copy; 2021 - <a style="text-decoration: none; text-decoration: underline; color: white;" asp-area="" asp-page="/Privacy">Privacy Policy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
