@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    * {
        color: #dedede;
    }
    .center {
        margin-top: 75px;
        border: 4px solid #dedede;
        background-color: #121212;
        border-radius: 25px;
    }
    .center h2, .center h3 {
        text-align: center;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="center">
    <h2 style="margin-top: 15px; text-decoration: underline; font-style: italic;">"Owings News Network"</h2>
    <h3>News, Projects, and Paper Sharing Application</h3>
    <h3>Dr. Patton's Data Intensive C# Final Project</h3>
    <h3 style="margin-bottom: 15px;">Matthew Owings</h3>
</div>
